#inputCalc {
    appearance: none;
    margin-bottom: 5px;
}
.tittle{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
h1 {
    background-color:;
    color: grey;
    font-size: 66px;
    text-align: center;
    width: 800px;
    margin-bottom:2px ;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 2px #000; 
}

.calcInput {
    width: 373px;
    height: 30px;
    outline: none;
    border: solid 1px gray;
    border-radius: 3px;
    text-align: end;
    font-size: 16px;
    color: black;
    font-weight: bold;
    
}
.result {
    text-align: center;
}
.calcButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
   width: 90px;
   height: 40px;
   margin: 1px;
   transition: transform 0.3s, background-color 0.3s;
}
.colorNumbers2 {
    width: 285px;
    background-color: #d5d4ef;
}
.colorNumbers {
    background-color: #d5d4ef;
}
.operators {
    background-color: #aaa8e0;
}
.signals {
    background-color: #aaa8e0;
}
button:hover {
    transform: scale(1.3); 
    filter: brightness(90%); 
}
  